
body::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: block;
}

body::-webkit-scrollbar-thumb {
    background: var(--shade-color-8);
    border-radius: 5px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
    background: var(--shade-color-7);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
    background-color: var(--shade-color-5);

}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
body::-webkit-scrollbar-track {
    background: var(--shade-color-9);
    border-radius: 0px;

}

/* Cambiamos el fondo cuando esté en active o hover */
body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: var(--shade-color-10);

}


.scroll-cont::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;
}

.scroll-cont::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.scroll-cont::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.scroll-cont::-webkit-scrollbar-thumb:active {
    background-color: #999999;

}



.scroll-cont.visible::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: block;
}